mixin tripList(trips)
  ul.mm-triplist
    each trip in trips
      li
        h3 #{trip.StopAreaName}
        p #{trip.TransportMode} #{trip.LineNumber} mot #{trip.Destination}
        p 
          | G&aring;r om 
          b #{trip.DisplayTime} 
          | (#{trip.TimeTabledDateTime}, f&ouml;rv&auml;ntas g&aring; #{trip.ExpectedDateTime})
